[Unit]
Description=A picfit server
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/picfit --config=/usr/local/bin/picfit.config.json
ExecStop=/bin/pkill picfit
TimeoutStopSec=5
TimeoutStartSec=150

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/picfit
ExecStartPre=/bin/chown syslog:adm /var/log/picfit
ExecStartPre=/bin/chmod 755 /var/log/picfit
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=picfit

[Install]
WantedBy=multi-user.target
