[Unit]
Description=A picfit server
After=network.target

[Service]
User=root
Group=root
Type=forking
PIDFile=/run/picfit.pid
ExecStart=/usr/local/bin/picfit --config=/usr/local/bin/picfit.config.json
ExecStop=/bin/kill -USR2 $(cat /run/picfit.pid)
Restart=always
TimeoutStopSec=5
TimeoutStartSec=150

ExecStartPre=/bin/mkdir -p /var/log/picfit
ExecStartPre=/bin/chown syslog:adm /var/log/picfit
ExecStartPre=/bin/chmod 755 /var/log/picfit
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=picfit

[Install]
WantedBy=multi-user.target
